.topic>.drop-topic {
    border: 1px solid black;
}
.resource {
    border: 1px solid black;
}

.sub-topics-container>.drop-topic {
    border: none;
}
.topics-container>.topic>ul.sub-resources-container>li {
    border: 2px solid red;
}
