.page-wrapper main#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75vh;
    margin: 0 2.5%;
    padding: 0 2.5%;
    padding-left: 0;
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
}
.topic {
    display: flex;
    flex-direction: column;

}
.topic>.drop-down {
    display: flex;
    border: 1px solid black;
}

.topics-container > .topic > .sub-topics-container {
    display: flex;
    flex-wrap: wrap;
}
.topics-container>.topic>ul.sub-resources-container>li {
    flex-direction: column;
}

.sub-topics-container > .topic > .sub-resources-container {
    display: flex;
    gap: 1%;
}
.sub-resources-container > a.resource {
    flex-basis: 30%;
    margin-top: 2%;
    margin-left: 5%;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
}