.topic>.drop-down>img {
    max-height: 50px;
}

.topics-container>.topic>ul.sub-resources-container>li {
    height: 5vh;
}
a.resource {
    height: 100%;
}
.resource>img {    
    max-height: 50px;
}