.side-bar {
    /* padding-top: 2%; */
}
.side-bar-links {
    margin-left: 15%;
}
.side-bar-links > li {
    margin-bottom: 10%;
}
.side-bar-links > li >ul,
.side-bar-links > li >ol{
    margin-left: 15%;
}
.main-container{
    padding-bottom: 7.5%;
}